[Unit]
Description=Decrypt volume for /var/home
DefaultDependencies=no
ConditionPathExists=/var/usrlocal/homefs/homefs.img
After=var.mount
BindsTo=var.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/cryptsetup luksOpen --keyring=user --token=homefs /var/usrlocal/homefs/homefs.img homefs_crypt
ExecStop=/usr/bin/cryptsetup luksClose homefs_crypt