[Unit]
Description=Remove wheel group

[Service]
Type=oneshot
ExecStart=/usr/sbin/groupdel wheel --force
ExecStartPost=/usr/bin/systemctl disable disable-wheel.service

[Install]
WantedBy=multi-user.target