[Unit]
Description=Fix /etc/shadow for lightdm
DefaultDependencies=no
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "cat /usr/etc/shadow | grep lightdm >> /etc/shadow"
ExecStartPost=/usr/bin/systemctl disable fix-lightdm-shadow.service

[Install]
WantedBy=multi-user.target