[Unit]
Description=Initialize subsystem
After=init-subsystem-user.service
BindsTo=init-subsystem-user.service

[Service]
User=subsys
Type=oneshot
ExecStart=/usr/libexec/ostools/init-subsystem

[Install]
WantedBy=multi-user.target