[Unit]
Description=Setup core system daemons/services
DefaultDependencies=no
Before=gdm.service
After=var.mount
BindsTo=var.mount nix.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/ostools/init-nix
ExecStartPost=/usr/bin/systemctl disable init-nix.service

[Install]
WantedBy=multi-user.target