[Unit]
Description=Setup HomeFS
DefaultDependencies=no
After=var.mount
BindsTo=var.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/homefs/setup_homefs
ExecStartPost=/usr/bin/systemctl disable init-homefs.service

[Install]
WantedBy=multi-user.target