[Unit]
Description=Intialize subsystem
After=var.mount network.target
BindsTo=var.mount network.target
Documentation=https://github.com/containers/podman/tree/main/docs

[Service]
Type=oneshot
ExecStart=/usr/bin/subsys pull
ExecStartPost=/usr/bin/systemctl disable init-subsystem.service

[Install]
WantedBy=multi-user.target