[Unit]
Description=Setup LoopFS
DefaultDependencies=no
After=var.mount
BindsTo=var.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/.internals-ostools/loopfs-init
ExecStartPost=/usr/bin/systemctl disable init-loopfs.service

[Install]
WantedBy=multi-user.target