[Unit]
Description=Mount LoopFS
After=var.mount
BindsTo=var.mount
DefaultDependencies=no
ConditionPathExists=/var/usrlocal/homefs
ConditionPathExists=/var/usrlocal/nixfs

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/.internals-ostools/loopfs-init --mount-all