[Unit]
Description=Mount HomeFS
After=var.mount
BindsTo=var.mount
DefaultDependencies=no
ConditionPathExists=/var/usrlocal/homefs/homefs.img

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/.internals-ostools/homefs-init mount

[Install]
WantedBy=multi-user.target