[Unit]
Description=Move nix to appropriate directory
After=var.mount

[Service]
Type=oneshot
ConditionPathExists=/nix
ExecStart=/bin/bash -c "mv /nix /var/usrlocal && systemctl disable --now %n"
ExecStartPost=/bin/systemctl disable move-nix.service

[Install]
WantedBy=multi-user.target