[Unit]
Description=Give users access to /nix
After=nix.mount
BindsTo=nix.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/.nix-usr-check-is-rw/rw-access.sh
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console

[Install]
WantedBy=multi-user.target