[Unit]
Description=Mount /nix
DefaultDependencies=no
After=var.mount ostree-remount.service nix-dir-move.service
BindsTo=var.mount nix-dir-move.service

[Mount]
What=/var/usrlocal/nix/
Where=/nix
Type=none
Options=bind,defaults