[Unit]
Description=Check integrity of configured directories
After=local-fs.target
BindsTo=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/pesticide/check
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console