[Unit]
Description=Manage root user password

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo "root:$(openssl rand -base64 32)" | chpasswd"
User=root
Group=root