[Unit]
Description=Manage subsystem
After=init-subsystem.service var.mount 
BindsTo=var.mount
Documentation=https://github.com/containers/podman/tree/main/docs

[Service]
Type=forking
RemainAfterExit=true
ExecStart=/usr/bin/subsys start
ExecStop=/usr/bin/subsys stop
Restart=on-failure
RestartSec=30s
TimeoutStartSec=300