[Unit]
Description=Set Transit ID
DefaultDependencies=no
Before=gdm.service

[Service]
RemainAfterExit=false
ExecStart=/bin/echo "$(openssl rand -hex 8)" > /etc/transit-id
ExecStop=/bin/echo "Not initialized" > /etc/transit-id

[Install]
WantedBy=multi-user.target