[Unit]
Description=Mount homefs
DefaultDependencies=no
After=cryptsetup-var-home.service
BindsTo=cryptsetup-var-home.service

[Mount]
What=/dev/mapper/homefs_crypt
Where=/var/home
Type=ext4
Options=defaults