polkit.addRule(function(action, subject) {
  if (action.id == "org.projectatomic.bootc.upgrade") {
    return polkit.Result.YES;
  }
  if (action.id == "org.projectatomic.bootc.status") {
    return polkit.Result.YES;
  }
});