polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("program") == "/usr/bin/bootc" &&
        (action.lookup("command_line").indexOf("upgrade") != -1 ||
         action.lookup("command_line").indexOf("status") != -1)) {
        return polkit.Result.YES;
    }
});