[Container]
Image=ghcr.io/bourbonos/subsystem:latest
ContainerName=subsystem
UserNS=keep-id
HostUser=true
Volume=/etc/passwd:/etc/passwd:ro
Volume=/etc/group:/etc/group:ro
Volume=/etc/shadow:/etc/shadow:ro
Volume=/home:/home:rslave
Volume=/var/lib/subsystem:/var/lib/subsystem:rw
PodmanArgs=--userns=keep-id

[Service]
TimeoutStartSec=300
TimeoutStopSec=70
After=init-core.service

[Install]
WantedBy=default.target