[Container]
Image=ghcr.io/bourbonos/subsystem:latest
ContainerName=subsystem
UserNS=keep-id
User=173:173
Volume=/etc/passwd:/etc/passwd:ro
Volume=/etc/group:/etc/group:ro
Volume=/etc/shadow:/etc/shadow:ro
Volume=/var/home:/home:rslave
Volume=/var/lib/subsystem:/var/lib/subsystem:rw

[Service]
TimeoutStartSec=300
TimeoutStopSec=70
After=init-core.service

[Install]
WantedBy=default.target